<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="icon" type="image/png" href="/batcher/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/batcher/favicon/favicon.svg" />
<link rel="shortcut icon" href="/batcher/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/batcher/favicon/apple-touch-icon.png" />
<link rel="manifest" href="/batcher/favicon/site.webmanifest" />

<!-- end custom head snippets -->
