<section class="navbar">
  <div class="navbar-container" role="navigation">
    <div>
      <ul>
        {%- assign sections_relative_url = site.sections_url | relative_url -%}
        {%- assign file_ext = "" -%}
        {%- if site.is_release_build -%}
          {%- assign file_ext = ".html" -%}
        {%- endif -%}
        <li><a {% if page.navbar_active_tab == "Home" %} class="active"{% endif %} href="{{ '/' | relative_url }}"><img class="navbar-logo" src="{{ '/images/logo.svg' | relative_url }}" alt="">{{ site.title }}</a></li>
        <li><a {% if page.navbar_active_tab == "Installation" %} class="active"{% endif %} href="{{ sections_relative_url | append: "Installation" | append: file_ext }}">Installation</a></li>
        <li><a {% if page.navbar_active_tab == "Usage" %} class="active"{% endif %} href="{{ sections_relative_url | append: "Usage" | append: file_ext }}">Usage</a></li>
        <li><a {% if page.navbar_active_tab == "Customization" %} class="active"{% endif %} href="{{ sections_relative_url | append: "Customization" | append: file_ext }}">Customization</a></li>
        <li><a {% if page.navbar_active_tab == "News" %} class="active"{% endif %} href="{{ site.news_url | relative_url }}">News</a></li>
      </ul>
    </div>
    <div class="right">
      <ul class="right">
        <li>
          <a href="https://github.com/{{ site.repository }}"><img class="navbar-logo" src="{{ '/images/github-mark-white.svg' | relative_url }}" alt=""></a>
          <a href="https://github.com/{{ site.repository }}">GitHub</a>
        </li>
      </ul>
    </div>
  </div>
</section>
