<section class="navbar">
  <div class="navbar-container" role="navigation">
    <div>
      <ul>
        {% if site.github.is_project_page %}
          <li><a {% if page.navbar_active_tab == "Home" %}class="active"{% endif %} href="{{ '/' | relative_url }}">Home</a></li>
        {% endif %}
        <li><a {% if page.navbar_active_tab == "Installation" %}class="active"{% endif %} href="{{ site.sections_url | append: "Installation" | relative_url }}">Installation</a></li>
        <li><a {% if page.navbar_active_tab == "Usage" %}class="active"{% endif %} href="{{ site.sections_url | append: "Usage" | relative_url }}">Usage</a></li>
        <li><a {% if page.navbar_active_tab == "Customization" %}class="active"{% endif %} href="{{ site.sections_url | append: "Customization" | relative_url }}">Customization</a></li>
        <li><a {% if page.navbar_active_tab == "Known-Issues" %}class="active"{% endif %} href="{{ site.sections_url | append: "Known-Issues" | relative_url }}">Known Issues</a></li>
      </ul>
    </div>
    <div class="right">
      <ul class="right">
        <li class="navbar-github">
          <a href="https://github.com/{{ site.repository }}">
            <!-- GitHub logo taken from the official site: https://github.com/logos -->
            <img src="/batcher/images/github-mark-white.svg" alt="">View on GitHub
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
